@include breakpoint(medium) {

	html {
		font-size: 120%;
	}
}


strong {
	font-size: 2em;
	font-family: $header-font-family;
	font-weight: $header-font-weight;
}

.wrapper {
	@include breakpoint(medium) {
		border: solid 10px #fff;
		border-top: none;
		border-right: none;
	}
}

.title-bar {
	position: relative;
	z-index: 500;

	a {
		color: $gray;
		i {
			display: inline-block;
			width: 0.9rem;
			height: 0.9rem;
			border: solid 3px $gray;
			border-right: 0;
			border-top: 0;
			transform: rotate(45deg);
		}
	}

	.logo {
		height: 18px;
	}
}

.video {
	display: inline-block;
}

.modal {
	color: $gray-dark;
	z-index: 1050;
}

.panel1, .panel2 {
	
	padding: 2em 0;

	.picto {
		display: inline-block;
		max-width: 40%;
	}

	p {
		line-height: 1.4;
	}
}

.panel1 {
	background: url(../images/bg-mobile.jpg) no-repeat center left;
	background-size: cover;

	@include breakpoint(medium) {
		background-image: url(../images/bg.jpg);
	}

	p {
		font-size: 1.2em;
		margin-bottom: 0;
	}

}

.panel2 {
	background: $primary-color;
	
	li {
		margin-bottom: 0.8rem;
		line-height: 1.4;
	}

	@include breakpoint(medium) {

		li {
			margin-bottom: 1.4em;
		}
	}
}

.panel-bottom {
	
	height: auto;
	max-height: calc(100vh - 50px);

}

.btnPanel {
	@include show-for-only(small);

	display: block;
	width: 100%;
	text-align: center;
	line-height: 20px;
	height: 22px;
	background: url(../images/btn-bg.png) transparent center no-repeat;
	color: #fff;
	font-size: 0.8rem;

	&:hover, &:focus {
		color: $gray-light;
	}

	&.close {
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.video {
	display: inline-block;
	position: relative;
	background: $card-background;
	max-width: 90%;

	@extend .thumbnail;

	&:after {
		content: '';
		display: inline-block;
		width: 100%;
		height: 100%;
		background: url(../images/play.png) center no-repeat;
		background-size: 55px;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.modal {
	height: auto;
   video {
	  width: 100%    !important;
	  height: auto   !important;
	}

}

.close-button {
	top: 0;
	right: 0;
}

.accueil {
	padding: 3em;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;

	a {
		@extend %button;
		@include button-style(
			$background: $primary-color, // Background color
			$background-hover: lighten($primary-color, 10%), // Background color on hover. Use "auto" to generate automatically
			$color: #000, // Text color
			$style: hollow // Can be solid or hollow
		);
		margin-right: 0;
	}
}